[Desktop Entry]
Name =AstroNinja
Icon = /home/username/.AstroNinja/Images/Icons/rocket.png
Exec=python3 /home/username/.AstroNinja/AstroNinjaMain.py
Terminal=false
Type=Application
